div{
    background-color: red;
    width:500px;
    padding:10px;
    margin:50px;
    text-align: center;
    text-transform:uppercase;
    box-shadow:5px 10px 15px 20px rgb(77, 57, 188)
}
p{
    border:5px
}